:root {
    --orange: rgba(241, 130, 56, 0.5);
    --blue: #0070a3;
    --dark-blue: #042a62;
    --dark-purple: #242259;
    --light-gray: #b9c7ca;
    --off-white: #e8eaed;
    --white: #fefefe;
}

html,
body {
    height: 100%;
}

#main-content {
    flex: 1 0 auto;
    padding-bottom: 54px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background: #212529;
    width: 100%;
    height: 54px;
}